*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

main{
    min-height: 90vh;
    padding: 10% 5%;
}
a{
    text-decoration: none;
}
header{
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: rgb(31, 180, 180);
    width: 100%;
    position: fixed;
    top:0;
    left: 0;



}

header a{
    margin: 15px;
    color: white;
    text-transform: uppercase;
}

.welcome-text{
  text-align: center;
  padding: 10% 5% 5% 5% ;
  color: rgb(31, 180, 180);
}
.mybtn{
    background-color: rgb(31, 180, 180);
    color: white;
    border: none;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 40px;
    cursor: pointer;
    width: 90%;
}

.mybtn:hover{
    background-color: white;
    color: rgb(31, 180, 180);
    border: 1px solid rgb(31, 180, 180);
}
.form{
    width: 60%;
    margin: auto;
    color: rgb(31, 180, 180);
    text-align: center;
    box-shadow: 2px 2px 2px 2px rgba(70, 80, 80, 0.267);
    padding: 20px;
    border-radius: 20px;
}
.form-group{
    padding: 20px;
}
.form-control{
    width: 90%;
    padding: 15px;
    text-align: center;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(31, 180, 180);
    background-color: inherit;
}
footer{
    color: white;
    text-align: center;
    background-color: rgb(31, 180, 180);
    min-height: 20vh;
    padding: 20px;
}